torch==2.5.1+cu124
torchvision==0.20.1+cu124

basicsr==1.4.2
facexlib==0.3.0
gfpgan==1.3.8
filterpy==1.4.5  # facexlib dependency
numba==0.60.0 #facexlib dependency

numpy==1.26.4
opencv-python==4.11.0.86
Pillow==11.1.0
tqdm==4.67.1
addict==2.4.0
lmdb==1.6.2
PyYAML==6.0.2
requests==2.32.3
scikit-image==0.25.2
scipy==1.14.1
tb-nightly==2.20.0a20250313
yapf==0.43.0
triton==3.1.0
sympy==1.13.1
filelock==3.17.0
typing-extensions==4.12.2
networkx==3.4.2
jinja2==3.1.6
fsspec==2024.10.0

